pip install django==3.1.7
pip install django-crispy-forms
pip install pdfminer
pip install pdfminer.six
pip install docx2txt
pip install nltk
pip install requests
pip install -U pip setuptools wheel
pip install -U spacy
python -m spacy download en_core_web_sm
pip install pandas
pip install scikit-learn
pip install resume-parser