{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
.form
{
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
width:150%;
margin-left:20px;
padding-bottom:50px;
}
</style>

<div class="form" >
    <table class="table">
        <tr>
            <td width="60%">
                <div class="w3-content" style="max-width:2000px;"> 
                    <!-- Automatic Slideshow Images -->
                        <div class="mySlides w3-display-container w3-center">
                            <img src="https://akm-img-a-in.tosshub.com/sites/btmt/images/stories/jobs_660x450_060319101227_062119010512.jpg" style="width:100%;height:500px;">
                            <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small"> 
                            </div>
                        </div>
                        <div class="mySlides w3-display-container w3-center">
                            <img src="https://img.freepik.com/free-vector/freelance-character-modern-job-typography-banner_81522-2194.jpg?size=626&ext=jpg" style="width:100%;height:500px;">
                            <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">  
                            </div>
                        </div>
                        <div class="mySlides w3-display-container w3-center">
                            <img src="https://akm-img-a-in.tosshub.com/sites/btmt/images/stories/jobs_image_505x264_051119042404.jpg?size=1200:675" style="width:100%;height:500px;">
                            <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small"> </div>
                        </div>
                </div>
            </td>
            <td width="40%">
                    <h1 style="text-align:center;">JOB RECOMMENDATION SYSTEM</h1> 
                       <p style="color:black;text-align:center;">We recommend jobs</p>         
                    <h5 style="text-align:center;">
                      
                       <p style="text-align:center; color: primary;"><b>Recommendations</b></p> 
                       <p> View the jobs recommended for you</p>
                       <p style="text-align:center;"><b>Applied</b></p> 
                       <p>View the jobs you have applied</p> 
                       <p style="text-align:center;"><b>Selected</b></p> 
                       <p>View the jobs you have selected</p>
                                    
                    </h5>          
        </tr>
    </table>
</div>

<div class="form" >
    
    <div>
         <p style="text-align:center;font-size:150%">
            <a href="{% url 'jobs_rec' %}" class="btn btn-primary">Recommendations</a>  
            <a href="{% url 'applied_jobs' %}" class="btn btn-primary btn-lg">Jobs Applied</a> 
            <a href="{% url 'selected_jobs' %}" class="btn btn-primary">Jobs Selected</a> 
         </p>
    <h3 style="text-align:center;">Jobs Applied</h3>
    {% if job_details %}    
    {% for card in job_details %}
        <form method="POST">
        {% csrf_token %}
        <div class="card" style="width: 65rem;">    
        <table class="table">
        <tr>
        <td width="40%">
                  <p><b>{{ column_names.1 }}</b>: {{ card.1 }}</p>
                  <p><b>{{ column_names.2 }}</b>: {{ card.2 }}</p>
                  <p><b>{{ column_names.3 }}</b>: {{ card.3 }}</p>
                  </td>
        <td width="40%">
                  <p><b>{{ column_names.4 }}</b>: {{ card.4 }}</p>
                  <p><b>{{ column_names.5 }}</b>: {{ card.5 }}</p>
                  <p><b>{{ column_names.6 }}</b>: {{ card.6 }}</p>
                  <p><b>{{ column_names.7 }}</b>: {{ card.7 }}</p>
                </td>
        <td width="20%">        
        <p><button class="btn btn-primary" type="submit" name= "{{ card.0 }}" value="Rejected">Rejected</button></p>          
        <p><button class="btn btn-primary" type="submit" name= "{{ card.0 }}" value="Selected">Selected</button></p>
        </td>
        </tr> 
        </table>
        </div>
        </form>  
    {% endfor %}
    {% else %}
        <p style="text-align: center;">Nothing to show here.</p>
    {% endif %}
    </div>
</div>
{% endblock %}
{% block nav %}
	<a class="navbar-brand nav-item nav-link" href="{% url 'jobs_rec' %}">Jobs</a>
	<a class="navbar-brand nav-item nav-link" href="{% url 'courses_rec' %}">Courses</a>
  <a class="navbar-brand nav-item nav-link" href="{% url 'login' %}">Logout</a>
{% endblock %}

{% block navhome %}
<a class="navbar-brand nav-item nav-link" href="{% url 'user_profile' %}">Home</a>
{% endblock %}