{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <a href="{% url 'courses_rec' %}">Recommendations</a>
    <a href="{% url 'completed_courses' %}">Completed</a>
    <h3>Enrolled Courses</h3>
    {{ card }}
    <table class="table">
    {% for card in course_details %}
        <form method="POST">
        {% csrf_token %}
        <tr>
        <td>
        <p>{{ column_names.0 }}: {{ card.0 }}</p>
        <p>{{ column_names.1 }}: {{ card.1 }}</p>
        <p>{{ column_names.2 }}: {{ card.2 }}</p>
        <p>{{ column_names.3 }}: {{ card.3 }}</p>
        <p></p>
        </td>
        <td>
        <p>{{ column_names.4 }}: {{ card.4 }}</p>
        <p>{{ column_names.5 }}: {{ card.5 }}</p>
        <p>{{ column_names.6 }}: {{ card.6 }}</p>
        <button type="submit" name= "{{ card.0 }}" value="Discontinued">Discontinued</button>
        <button type="submit" name= "{{ card.0 }}" value="Completed">Completed</button>
        </td>
        </tr>   
        </form>  
    {% endfor %}
    </table>
</div>
{% endblock %}
{% block nav %}

	<a class="nav-item nav-link" href="{% url 'jobs_rec' %}">Jobs</a>
	<a class="nav-item nav-link" href="{% url 'courses_rec' %}">Courses</a>
    <a class="nav-item nav-link" href="{% url 'login' %}">Logout</a>

{% endblock %}
