{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <h3>Job Recommendations</h3>
    <table class="table">
    {% for card in job_details %}
        <tr>
        <td>
        <p>{{ job_titles.0 }}: {{ card.0 }}</p>
        <p>{{ job_titles.1 }}: {{ card.1 }}</p>
        <p>{{ job_titles.2 }}: {{ card.2 }}</p>
        <p></p>
        </td>
        <td>
        <p>{{ job_titles.3 }}: {{ card.3 }}</p>
        <p>{{ job_titles.4 }}: {{ card.4 }}</p>
        <p>{{ job_titles.5 }}: {{ card.5 }}</p>
        <p>{{ job_titles.6 }}: {{ card.6 }}</p>
        </td>
        </tr>   
    {% endfor %}
    </table>
</div>
{% endblock %}
{% block nav %}

	<a class="nav-item nav-link" href="{% url 'jobs_rec' %}">Jobs</a>
	<a class="nav-item nav-link" href="{% url 'courses_rec' %}">Courses</a>

{% endblock %}
