{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block nav %}
    <a class="navbar-brand nav-item nav-link" href="{% url 'jobs_rec' %}">Jobs</a>
    <a class="navbar-brand nav-item nav-link" href="{% url 'courses_rec' %}">Courses</a>
	<a class="navbar-brand nav-item nav-link" href="{% url 'login' %}">Logout</a>
	
{% endblock %}

{% block redirect %}
	<a href="{% url 'user_profile' %}" class="del-msg">&times;</a>
{% endblock %}

{% block content %}
<style>
.form
{
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
width:130%;
margin-left:100px;
padding-bottom:50px;
}
</style>

<div class="form" > 	
  <div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Your Details</legend>

            <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Username</label>  
                <div class="col-sm-5">   
                   <input type="text" class="form-control" name="username" value="{{user.username}}">
                </div>  
            </div>
            <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Email</label>   
                <div class="col-sm-5">   
                   <input type="text" class="form-control" name="email" value="{{user.email}}">
                </div>
            </div>
            <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Phone number</label>   
                <div class="col-sm-5">   
                   <input type="text" class="form-control" name="phone_number" value="{{user.phone_number}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Change Resume</label>
                <div class="col-sm-5">   
                    <input type="file" class="form-control" name="user_resume">
                </div>
            </div>
            <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Education</label>
                <input type="text" class="form-control" name="education" value="{{user.education}}">
            </div>
            <!-- <div class="form-group row">  
                    {% for edu in education %}
                    <div class="col-sm-6">   
                        <input type="text" class="form-control" name="education" value="{{edu}}">
                    </div>
                    {% endfor %}
            </div> -->
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Skills</label>
                <input type="text" class="form-control" name="skills" value="{{user.skills}}">
            </div>
            <!-- <div class="form-group row">  
                {% for skill in skills %}
                <div class="col-sm-3">   
                   <input type="text" class="form-control" name="skills" value="{{skill}}">
                </div>
                {% endfor %}
            </div> -->

        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary " type="sumbit">Save Changes</button>
            <a href = "http://localhost:8000/media/{{ user.user_resume }}" class="btn btn-primary " target="_blank" style="margin-left: 30px;">View Resume</a>
        </div>
    </form>
  </div>
</div>

<div class='form-group'>
    {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
  {% endif %}
</div>

{% endblock %}